@model SpodIgly_Main.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Witaj w SpodIgly!";
}


<nav class="genres-horizontal">
    <ul>
        @foreach (var genre in Model.Genres)
        {



            <li>
                <a href="@Url.Action("List", "Store", new { genrename = genre.Name.ToLower() })" 
                   style="background-image: url(../Content/Genre-icons/rock.png); ">
                    @genre.Name
                </a>
            </li>
        }

    </ul>
    <a href="">
        <img id="baner-main" src="../Content/Images/baner-main.png" />
    </a>
</nav>

<section>
    <ul class="ThreeColumnsCoversList large-cover-list">
        <li>
            <article>
                <a class="addtocartlink" href="aaaa">
                    <img src="../Content/Images/cart.png" />
                </a>
                <a class="productdetailslink" href="asd">
                    <div class="newFlag"></div>
                    <img class="album-cover" src="../Content/Covers/1.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
        <li>
            <article>
                <a class="addtocartlink" href="aaaa">
                    <img src="../Content/Images/cart.png" />
                </a>
                <a class="productdetailslink" href="asd">
                    <div class="newFlag"></div>
                    <img class="album-cover" src="../Content/Covers/2.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
        <li>
            <article>
                <a class="addtocartlink" href="aaaa">
                    <img src="../Content/Images/cart.png" />
                </a>
                <a class="productdetailslink" href="asd">
                    <div class="newFlag"></div>
                    <img class="album-cover" src="../Content/Covers/3.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
    </ul>
</section>

<section>
    <ul class="ThreeColumnsCoversList large-cover-list">
        <li>
            <article>
                <a class="addtocartlink" href="aaaa">
                    <img src="../Content/Images/cart.png" />
                </a>
                <a class="productdetailslink" href="asd">
                    <div class="bestsellerFlag"></div>
                    <img class="album-cover" src="../Content/Covers/1.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
        <li>
            <article>
                <a class="addtocartlink" href="aaaa">
                    <img src="../Content/Images/cart.png" />
                </a>
                <a class="productdetailslink" href="asd">
                    <div class="bestsellerFlag"></div>
                    <img class="album-cover" src="../Content/Covers/2.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
        <li>
            <article>
                <a class="addtocartlink" href="aaaa">
                    <img src="../Content/Images/cart.png" />
                </a>
                <a class="productdetailslink" href="asd">
                    <div class="bestsellerFlag"></div>
                    <img class="album-cover" src="../Content/Covers/3.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
    </ul>
</section>



